<a href="https://colab.research.google.com/github/mohammadzav23-ux/Mohammad_DTSC3020_Fall2025/blob/main/Assignment4_(ch_6)__(1)_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DTSC 3020 – Assignment 4
Chapter 6 – Dictionaries

Total points: 4

Deadline: Friday at midnight

Submission: Upload your Python file to your GitHub repository and submit only your GitHub link.


Expectations
Write complete answers and run all cells before submission.
Keep the notebook clean (no unnecessary code).

Exercise  1: Find and print the student with the lowest grade.

In [1]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:
lowest_student = min(grades, key=grades.get)
lowest_grade = grades[lowest_student]
print(f" The student with the lowest grade is {lowest_student} with a grade of {lowest_grade}.")

 The student with the lowest grade is Omid with a grade of 16.

Exercise 2: print names of students who registered for any course containing "Data"

In [21]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}

# Write your code here:
for student, course_list in courses.items():
  for course in course_list:
    if "Data" in course:
      print(student)
      break

Sara
Reza

Exercise 3: Print titles of books that are not available.

In [5]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}

# Write your code here:
for book, info in library.items():
  if not info ['available']:
    print (book)

AI Basics
Math Advanced

Exercise 4: Print names of students who are registered for more than 2 courses.

In [9]:

registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}

# Write your code here:
for student, courses in registrations.items():
  if len(courses) > 2:
    print(student)

Sara
Lina

Exercise 5: Calculate and print the average grade of the class.

In [10]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:

total = sum(grades.values())
count = len(grades)
average = total/count
print(f"The average grade of the class is {average}")

The average grade of the class is 18.1

Exercise 6: Count and print the number of students registered for "Python".

In [43]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:
count = 0
for student, course_list in courses.items():
    if 'Python' in course_list:
        count += 1


print(f"Number of students registered for Python: {count}")

Number of students registered for Python: 3

Exercise 7: Print titles of books with more than 200 pages.

In [44]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}


# write your answer here
for books, total_pages in book_pages.items():
  if (total_pages > 200):
    print (books)

AI Basics
Math Advanced
Data Science

Exercise 8: Print each student's name and number of registered courses.

In [46]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:
for student,course_list in courses.items():
  num_courses = len(course_list)
  print(f"{student} is registered for {num_courses} courses.")

Ali is registered for 2 courses.
Sara is registered for 2 courses.
Reza is registered for 2 courses.
Lina is registered for 2 courses.
Omid is registered for 1 courses.