<a href="https://colab.research.google.com/github/mohammadzav23-ux/Mohammad_DTSC3020_Fall2025/blob/main/ListAssignmnet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
fruits = ["apple", "banana", "orange"]
print("Full list:", fruits)
print("Each fruit:")
for fruit in fruits:
    print(fruit)

Full list: ['apple', 'banana', 'orange']
Each fruit:
apple
banana
orange

In [2]:
names = ["Ali", "Sara", "John", "Mia"]
names[0] = "Omar"
print("Updated names:", names)

Updated names: ['Omar', 'Sara', 'John', 'Mia']

In [3]:
vehicles = ["car", "bus", "bike", "train", "scooter"]
vehicles.append("truck")
print("Vehicles:", vehicles)

Vehicles: ['car', 'bus', 'bike', 'train', 'scooter', 'truck']

In [4]:
foods = ["pizza", "burger", "pasta", "rice", "sushi", "salad"]
foods.remove("burger")
print("Updated foods:", foods)

Updated foods: ['pizza', 'pasta', 'rice', 'sushi', 'salad']

In [5]:
cities = ["London", "Paris", "Tokyo", "New York"]
cities.sort()
print("Sorted cities:", cities)
cities.reverse()
print("Reversed cities:", cities)

Sorted cities: ['London', 'New York', 'Paris', 'Tokyo']
Reversed cities: ['Tokyo', 'Paris', 'New York', 'London']

In [6]:
animals = ["dog", "cat", "elephant"]
print("Animals:")
for animal in animals:
    print(animal)

Animals:
dog
cat
elephant

In [7]:
numbers = [1, 2, 3, 4, 5]
print("Numbers multiplied by 2:")
for num in numbers:
    print(num * 2)

Numbers multiplied by 2:
2
4
6
8
10

In [8]:
friends = ["Ahmed", "Fatima", "Bilal", "Sophia", "David", "Emma"]
print("First three friends:", friends[:3])
print("Last three friends:", friends[-3:])

First three friends: ['Ahmed', 'Fatima', 'Bilal']
Last three friends: ['Sophia', 'David', 'Emma']

In [9]:
nums = list(range(1, 11))
print("Numbers 1 to 10:", nums)

Numbers 1 to 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
squares = [x**2 for x in range(1, 6)]
print("Squares:", squares)

Squares: [1, 4, 9, 16, 25]